celery==4.1.0
Flask==1.0.2
Flask-Celery==2.4.3
Flask-Celery3==0.2
Flask-JSON==0.3.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
matplotlib==2.1.0
redis==2.10.6
requests==2.18.4
SQLAlchemy==1.2.7
urllib3==1.22

[packages]
redis = "*"
celery = "*"


[requires]
python_version = "3.6"
